<style type="text/css">
    .enviornment-context{
        position: relative;
        height: 40px;
        width: 100%;
        line-height: 40px;
        margin: 0;
        padding: 0;
        color: #444;
        font-size: 14px;
        text-align: center;
        background: #ddd;
    }
</style>

<% if (environment && environment == 'staging') { %>
    <div class='enviornment-context'>You're on staging.parks.stamen.com. Stuff shouldn't be breaking too much here.</div>
<% }else if(environment && environment == 'development'){ %>
    <div class='enviornment-context'>You're on dev.parks.stamen.com. Stuff might break.</div>
<% } else { %>
    <div class='enviornment-context'>Not familiar with your current environment setup. Best of luck.</div>
<% } %>
