<script>

$.getJSON('http://stamen-parks-api-staging.herokuapp.com/list/all', function(data) {
  var items = [];


  var nested = {};
  data.results.forEach(function(item){
    var kind = item.kind;
    if(!nested[kind])nested[kind] = [];
    nested[kind].push(item);
  });

  console.log(nested);

  /*
  $.each(data, function(key, val) {
    items.push('<li id="' + key + '">' + val + '</li>');
  });

  $('<ul/>', {
    'class': 'my-new-list',
    html: items.join('')
  }).appendTo('body');
  */
});
</script>