body {
  font-family: Verdana, sans-serif;
}

h2 {
  background: #F47B13;
  padding: 4px 10px;
  margin: 0 0 1em 0;
}

.container {
  width: 890px;
  margin: 20px auto;
}

.row {
  display: table;
  width: 100%;
  height: auto;
}

.row:after {
  display: table;
  height: 0;
  content: "";
  clear: both;
}

.span {
  display: table-cell;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.span.one-third { width: 33.2%; }
.span.two-thirds { width: 66.7%; }
.span.half { width: 50%; }

#directions .maps {
  margin: 1em 0;
}

#directions .maps .map {
  height: 400px;
  background: #ccc;
}

#directions .to-from label {
  display: block;
  margin: 0 0 4px 0;
}

#directions input[type=text] {
  width: 16em;
}

.adp-directions tr.bespoke {
  color: #666;
}
