<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>





<meta name="generator" content="Convio CMS" />
<script language="JavaScript" type="text/javascript" src="/components/cookie/cookie.js"></script>


<script language="JavaScript" type="text/javascript" src="/components/print/printer-friendly.js"></script>

<!-- Convio's CRM JS library -->
<script type="text/javascript" src="http://ggnpc.convio.net/js/utils.js"></script>




<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="verify-v1" content="FEY8PAOJzrQZiwVJD3l6uM8yvyc5NzTMufwfk6+JSYc=" />

<meta name="description" content="Coastal Cleanup Day, volunteering & service, Golden Gate National Parks." />
<meta name="robots" content="index, follow" />
<title>California Coastal Cleanup Day :: Golden Gate National Parks Conservancy</title>
<link rel="shortcut icon" href="http://www.parksconservancy.org/assets/images/wrapper/favicon.ico" />
<link href="/calendar/rss.html" rel="alternate" type="application/rss+xml" title="Calendar RSS Feed" />
<link rel='stylesheet' type='text/css' href="http://ggnpc.convio.net/site/PageServer?pagename=copy_of_styles_12&pgwrap=n" />
<link rel='stylesheet' type='text/css' media='print' href='http://www.parksconservancy.org/assets/css/print.css' />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://www.parksconservancy.org/assets/js/fancybox/jquery-fancybox.js"></script>
<link rel="stylesheet" href="http://www.parksconservancy.org/assets/js/fancybox/jquery-fancybox.css" type="text/css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
    /* This is basic - uses default settings */
    $("a#single_image").fancybox();
    /* Using custom settings */
    $("a#inline").fancybox({
        'hideOnContentClick': true
    });
    /* Apply fancybox to multiple items */
    $("a.group").fancybox({
        'transitionIn'  :   'elastic',
        'transitionOut' :   'elastic',
        'speedIn'       :   600,
        'speedOut'      :   200,
        'overlayShow'   :   false
    });
});
</script>

<script type="text/javascript" src="https://secure3.convio.net/ggnpc/site/SPageServer?pagename=dropdown_js&pgwrap=n"></script>

<script type="text/javascript" src="http://www.parksconservancy.org/assets/js/tabshow.js "></script>
<link type="text/css" href="http://www.parksconservancy.org/assets/css/tabshow.css" rel="stylesheet" />
<script type="text/javascript">
    var ts = new Tabshow();
    ts.name = "ts";  // name of the javascript variable used to refer to this instance
    ts.iid = "ts0_";  // id prefix used to create this instance of the slideshow (to support many instances in a page)
    ts.tabDividerImg = "http://www.parksconservancy.org/assets/images/tabs/tab_divider.png";
    ts.imagesToPreload = ["http://www.parksconservancy.org/assets/images/tabs/tab_hover.png"];
    ts.tabsSelector = "#page_content div.tab";
</script>


</head>
<body class="home">
<% include ./../partials/context.ejs %>
<div id="content">
    <!--start header-->
    <div id="header" class="clrfix">
        <div id="convio-content-415207591" style="display: inline;">











<!-- Standard dependencies for embedded COM content -->
<link rel="stylesheet" type="text/css" href="http://ggnpc.convio.net/css/FunctionalStyles.css" />
<script type="text/javascript" src="http://ggnpc.convio.net/yui3/yui/yui-min.js"></script>
<script type="text/javascript" src="http://ggnpc.convio.net/js/utils.js"></script>
<script type="text/javascript" src="http://ggnpc.convio.net/js/convio/modules.js"></script>
<script type="text/javascript">
var Y;
if (!Y) {
  Y = YUI({
    base: 'http://ggnpc.convio.net/yui3/',
    debug: false,
    modules: getModules('http://ggnpc.convio.net/','convio',false)
  });
}
</script>

<div id="skip"><a href="#main">Skip to Main Content</a></div>
<div id="top_utility">
<div class="clrfix">
<div id="social-links"><p><a href="http://www.facebook.com/parksconservancy"><img id="header_r3_c9" src="http://www.parksconservancy.org/assets/images/logos-fb-t.png" border="0" alt="Facebook" width="19" height="18" /></a> <a href="http://twitter.com/parks4all"><img id="header_r3_c12" src="http://www.parksconservancy.org/assets/images/logos-tw-t.png" border="0" alt="Twitter" width="18" height="18" /></a> <a href="http://www.flickr.com/photos/parksconservancy"><img id="header_r3_c14" src="http://www.parksconservancy.org/assets/images/logos-fl-t.png" border="0" alt="Flickr" width="18" height="18" /></a> <a rel="publisher" href="https://plus.google.com/102608483552478898130?prsrc=3"><img src="http://www.parksconservancy.org/assets/images/google-plus-icon.png" alt="Google Plus" width="17" height="17" /></a> <a href="http://www.parksconservancy.org/events/upcoming-events.xml"><img id="header_r3_c7" src="http://www.parksconservancy.org/assets/images/logos-rss-t.png" border="0" alt="RSS Feed" width="18" height="18" /></a></p>
</div>

<div id="search-utility"><form name="sitesearch" action="http://www.parksconservancy.org/results.html" method="get" enctype="application/x-www-form-urlencoded" accept-charset="UNKNOWN"><input id="search-text" title="Search site" name="q" type="text" value="Search" maxlength="250" onfocus="if (this.value == 'Search') this.value='';" onblur="if (this.value == '') this.value='Search';" /><input id="search-submit" name="Submit search" type="submit" value="Submit search" /> </form></div>
</div>
<ul class="primary">
<li class="upper"><a class="main_item" href="http://www.parksconservancy.org/programs/"><span class="main_item_text">Programs</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/programs/crissy-field-center/" target="_top">Crissy Field Center</a></li>
<li><a href="http://www.parksconservancy.org/programs/ggro/" target="_top">Golden Gate Raptor Observatory</a></li>
<li><a href="http://www.parksconservancy.org/programs/igg/" target="_top">Institute at the Golden Gate</a></li>
<li><a href="http://www.parksconservancy.org/programs/nurseries/" target="_top">Native Plant Nurseries</a></li>
<li><a href="http://www.parksconservancy.org/programs/park-stewardship/">Park Stewardship</a></li>
<li><a href="http://www.parksconservancy.org/programs/trails-forever/">Trails Forever</a></li>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li><a href="http://www.parksconservancy.org/join"><span class="main_item_text">Donate</span></a></li>
<li><a href="http://store.parksconservancy.org/store/"><span class="main_item_text">Shop</span></a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer"><span class="main_item_text">Volunteer</span></a></li>

<li><a id="login" href="http://ggnpc.convio.net/site/UserLogin"><span class="main_item_text">Log In</span></a></li>
</ul>
<p></p></div>
<div id="logo"><a href="http://www.parksconservancy.org/"><img src="http://www.parksconservancy.org/assets/images/ggnpc-logo-2012.gif" alt="Golden Gate National Parks Conservancy" width="437" height="70" /></a></div>



</div>
    </div>
    <div id="nav" class="clrfix">
        <div id="convio-content-415207592" style="display: inline;">









<div id="main_menu_wrapper" style="width: 100%; height: 30px;">
<div id="main_menu" style="float: left; white-space: nowrap;">
<ul class="primary">
<li class="upper"><a href="http://www.parksconservancy.org/about/" target="_self"><span class="main_item_text">About Us</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top" colspan="2">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/about/mission.html" target="_self">Mission/Vision</a></li>
<li><a href="http://www.parksconservancy.org/about/history.html" target="_self">History</a></li>
<li><a href="http://www.parksconservancy.org/about/accomplishments.html" target="_self">Accomplishments</a></li>
<li><a href="http://www.parksconservancy.org/about/press/" target="_self">Press Room</a></li>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/about/press/photo-gallery-for-press.html" target="_self">Photo Gallery for Press</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-coverage.html" target="_self">Press Coverage</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-kits.html" target="_self">Press Kits</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-releases.html" target="_self">Press Releases</a></li>
</ul>
<li><a href="http://www.parksconservancy.org/about/publications/" target="_self">Publications</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/about/publications/annual-reports.html" target="_self">Annual Reports</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/newsletters.html" target="_self">Newsletters</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/multimedia/" target="_self">Multimedia</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/wallpapers.html" target="_self">Wallpapers &amp; Facebook Covers</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/financials.html" target="_self">Financials</a></li>
</ul>
</li>
</ul>
</td>
<td class="content column2">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/about/board/" target="_self">Board of Trustees</a></li>
<li><a href="http://www.parksconservancy.org/about/partners.html" target="_self">Partners</a></li>
<li><a href="http://www.parksconservancy.org/about/jobs/" target="_self">Jobs &amp; Opportunities</a></li>
<li><a href="http://www.parksconservancy.org/about/contact.html" target="_self">Contact</a></li>
</ul>
<p>&nbsp;</p>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom" colspan="2">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="upper"><a href="http://www.parksconservancy.org/visit/" target="_self"><span class="main_item_text">Your Visit</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top" colspan="2">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/visit/upcoming-events.html" target="_self">Upcoming Events</a></li>
<li><a href="http://www.parksconservancy.org/visit/park-sites/" target="_self">Select a Park</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/" target="_self">Tours</a></li>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/visit/tours/alcatraz.html" target="_self">Alcatraz Tours</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/golden-gate-bridge.html" target="_self">Golden Gate Bridge Tours</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/muir-woods-bus-tours.html" target="_self">Muir Woods Bus Tours</a></li>
</ul>
<li><a href="http://www.parksconservancy.org/visit/web-cams.html" target="_self">Park Web Cams</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/" target="_self">Trails</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/visit/trails/bike-friendly.html" target="_self">Bike Friendly Trails</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/dog-friendly-trails.html" target="_self">Dog Friendly Trails</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/closures.html" target="_self">Trail Closures</a></li>
</ul>
</li>
</ul>
</td>
<td class="content column2">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/visit/art-in-the-parks.html" target="_self">Art in the Parks</a></li>
<li><a href="http://www.parksconservancy.org/visit/camp/" target="_self">Camping</a></li>
<li><a href="http://www.parksconservancy.org/visit/transportation/" target="_self">Transportation </a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/visit/transportation/closures.html" target="_self">Transit &amp; Road Closures</a></li>
<li><a href="http://www.parksconservancy.org/visit/transportation/shuttle-services.html" target="_self">Shuttle Services</a></li>
</ul>
</li>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom" colspan="2">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="upper"><a href="http://www.parksconservancy.org/park-improvements/" target="_self"><span class="main_item_text">Park Improvements</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/" target="_self">Current Projects</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/marin/" target="_self">Marin County</a></li>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/san-francisco/" target="_self">San Francisco County</a></li>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/san-mateo/" target="_self">San Mateo County</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/park-improvements/past-accomplishments/" target="_self">Past Accomplishments</a></li>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="upper"><a href="http://www.parksconservancy.org/conservation/" target="_self"><span class="main_item_text">Conservation</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/" target="_self">Plants &amp; Animals</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/endangered-species/" target="_self">Endangered Species</a></li>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/raptors/" target="_self">Raptors</a></li>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/native-plant-information/" target="_self">Native Plant Information</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/" target="_self">Sustainability in Parks</a></li>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/conservation/sustainability/parks-and-health.html" target="_self">Parks &amp; Health</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/food-for-the-parks.html" target="_self">Food for the Parks</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/crissy-field-center.html" target="_self">Crissy Field Center Facility</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/climate.html" target="_self">Climate Change Education &amp; Parks</a></li>
</ul>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="upper"><a href="http://www.parksconservancy.org/learn/" target="_self"><span class="main_item_text">Learn in the Parks</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="top" colspan="2">&nbsp;</td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/learn/youth/" target="_self">Youth</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/learn/youth/community-programs" target="_self">Community Group Programs</a></li>
<li><a href="http://www.parksconservancy.org/learn/youth/leadership" target="_self">Leadership Programs</a></li>
<li><a href="http://www.parksconservancy.org/learn/youth/summer-camps/" target="_self">Summer Camps</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/learn/educators/" target="_self">For Educators </a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/learn/educators/camping-at-the-presidio/" target="_self">Camping at the Presidio</a></li>
<li><a href="http://www.parksconservancy.org/learn/educators/field-trips/" target="_self">Field Trips</a></li>
<li><a href="http://www.parksconservancy.org/learn/educators/professional-development/" target="_self">Professional Development</a></li>
</ul>
</li>
</ul>
</td>
<td class="content column2">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/learn/interpretive-walks/" target="_self">Interpretive Walks</a></li>
<li><a href="http://www.parksconservancy.org/learn/park-academy/" target="_self">Park Academy Classes</a></li>
<li><a href="http://www.parksconservancy.org/learn/roving-ranger/" target="_self">Roving Ranger</a></li>
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/" target="_self">Parks Culture &amp; History</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/historical-sites.html" target="_self">Historical Sites</a></li>
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/museums.html" target="_self">Museums&nbsp;&amp; Cultural Resources</a></li>
</ul>
</li>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottom" colspan="2">&nbsp;</td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
<li class="upper last"><a href="http://www.parksconservancy.org/get-involved/" target="_self"><span class="main_item_text">Get Involved</span><img class="main_item_indicator" src="http://www.parksconservancy.org/assets/images/clear.gif" border="0" alt="" width="18" height="25" /></a>
<div class="dropbox" style="opacity: 0; display: block; visibility: hidden;">
<table class="dropdown_border" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td class="topleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="topright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
<tr>
<td class="left">&nbsp;</td>
<td class="content">
<ul class="level1">
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/" target="_self">Volunteer</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/upcoming-events/" target="_self">Upcoming Opportunities & Events</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/drop-in-programs/" target="_self">Individuals</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/groups/" target="_self">Groups</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/youth-and-families/" target="_self">Youth &amp; Family Opportunities</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/internships/" target="_self">Internships &amp; Long-Term Opportunities</a></li>
</ul>
</li>
</ul>
<ul class="level1">
<li><a href="http://www.parksconservancy.org/get-involved/donate/" target="_self">Donate</a>
<ul class="level2">
<li><a href="http://www.parksconservancy.org/join" target="_self">Give Now</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/membership/" target="_self">Membership</a>
</li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/membership/william-kent-society.html" target="_self">William Kent Society</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/trails-forever-dinner.html" target="_self">Trails Forever Dinner</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/other-ways-to-give/" target="_self">Other Ways to Give </a>
</li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/corporate-partners/" target="_self">Corporate Partners</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/events.html" target="_self">Member Events</a></li>
</ul>
</li>
</ul>
</td>
<td class="right">&nbsp;</td>
</tr>
<tr>
<td class="bottomleft"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
<td class="bottomright"><img src="http://www.parksconservancy.org/assets/images/clear.gif" alt="" width="10" height="10" /></td>
</tr>
</tbody>
</table>
</div>
</li>
</ul>
</div>
</div>
<script type="text/javascript">// <![CDATA[
        addDropdownFunctionality();
        preloadImages(["http://www.parksconservancy.org/assets/images/img/menu_dropdown_bg.png","http://www.parksconservancy.org/assets/images/img/menu_bg_hover.png","http://www.parksconservancy.org/assets/images/menu_indicator_hover.png"]);
// ]]></script>



</div>
    </div>
    <!--main content-->
    <div id="main_content" class="clrfix">
        <div id="inner_content" class="clrfix">














<div id="contentDiv">


<script type="text/javascript" src="/components/form/form.js"></script>

<div id="leftcolumn">
<div id="sec_nav">
<div id="sectionNavigation-306822178" style="display: inline;">

















<style>
.linksetSubMenu-3 {
    padding-left:10px;
}
select.navigationDrpDown {
    width:100px;
}
</style>

<div class="linksetMenu linksetSubMenu-1 navigationMenu">


</div>
<script>
$(document).ready(function() {
    $('.navigationDrpDown').change(function() {
        var url = $(this).val();
        if (url != '')
            window.location = url;
    });
});
</script>
</div>
<div class="linksetMenu linksetSubMenu-1 navigationMenu">
<div class="linksetLinkInternal navigationItem">Upcoming Events</div>
<div class="linksetLinkInternal navigationItem"><a href="http://www.parksconservancy.org/visit/upcoming-events.html">All Events</a></div>
<div class="linksetLinkInternal navigationItem"><a href="http://www.parksconservancy.org/learn/interpretive-walks/">Interpretive Walks</a></div>
<div class="linksetLinkInternal navigationItem"><a href="http://www.parksconservancy.org/learn/park-academy/">Park Academy Events</a></div>
<div class="linksetLinkInternal navigationItem"><a href="http://www.parksconservancy.org/get-involved/volunteer/upcoming-events/">Volunteer Events</a></div>
</div>

<hr />
<div>
<div class="linksetLinkInternal navigationItem">Related Species</div>

<div class="linksetLinkInternal navigationItem"><a href="http://www.parksconservancy.org/conservation/plants-animals/endangered-species/western-snowy-plover.html">Western Snowy Plover</a></div>
</div>
</div>


<div id="page_content">
        <div class="clrfix">

                    <div id="banner">
                        <div id="main_image"><img src="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd_main.jpg" alt="Coastal Cleanup Day"></div>
                        <a name="main"></a><div id="page_title"><h1>California Coastal Cleanup Day</h1></div>
                    </div>





<!-- Begin Event Detail -->
<p class="bold">September&nbsp;21,&nbsp;2013</p>

<p class="bold">9 am-noon</p>

<p><span class="bold">Audience: </span>Adults,  Educators,  Elementary School Students,  Families,  Groups,  High School Students,  Middle School Students,  Seniors,  Volunteers </p>

<p><span class="bold">Location: </span>Baker Beach, China Beach, Crissy Field, Fort Funston, Lands End, Marin County, Ocean Beach, Presidio of San Francisco, San Francisco, San Mateo County</p>

<p><span class="bold">Event Type: </span>Volunteer </p>
<p><strong>Let's make trash extinct! </strong>Pitch in for California Coastal Cleanup Day and lend a hand throughout the Golden Gate National Parks and beyond! Cleanup and restoration activities will be happening in San Francisco, Marin, and Pacifica. Together we can keep our parks, neighborhoods, and shorelines clean, safe, and healthy for everyone.</p>
<ul>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#Register" title="California Coastal Cleanup Day">Find a site and register</a></li>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#Waivers" title="California Coastal Cleanup Day">Waiver Forms</a> (available soon!)</li>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#LearnMore" title="California Coastal Cleanup Day">Learn more about Coastal Cleanup Day</a></li>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#Sponsors" title="California Coastal Cleanup Day">Sponsors &amp; Site Captains</a></li>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#Captain" title="California Coastal Cleanup Day">Site Captain Resources and Posters</a></li>
</ul>
<p><strong>HELP US CONSERVE &ndash; BYO this year!</strong> <br />Limit waste by <strong>bringing your own</strong> reusable supplies (bags, bucket, gloves, water bottle). We will also have supplies available.</p>
<p><span><span lang="EN"><em>The Golden Gate National Parks Volunteer Program is a cooperative parkwide effort of the Golden Gate National Parks Conservancy, the <a href="http://www.nps.gov/goga/index.htm" target="_blank">National Park Service</a>, and the <a href="http://www.presidio.gov/" target="_blank">Presidio Trust</a>.</em></span></span></p>
<hr />
<h3><strong>HOW TO GET STARTED<a name="Register"></a>&nbsp;</strong><span class="bold"><strong></strong></span></h3>
<div><strong>1. Choose a Site and Register. Volunteers of all ages are welcome.</strong><br /><br />
<ul>
<li>Individuals, families, and small groups: register online below.</li>
<li>Groups of 10 or more volunteers: please call (415) 561-3077 or <a href="mailto:volunteer@parksconservancy.org">e-mail</a> to register.</li>
</ul>
</div>
<div><strong>Cleanup Sites:</strong> Choose by location below.</div>
<ul>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#East" title="California Coastal Cleanup Day">San Francisco&mdash;East</a><strong> <br /></strong></li>
<li><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html#West" title="California Coastal Cleanup Day">San Francisco&mdash;West</a></li>
<li><a href="http://www.spn.usace.army.mil/Missions/Recreation/BayModelVisitorCenter/CCCD.aspx" target="_blank">Marin (Bay Model)</a></li>
<li><a href="http://www.pacificabeachcoalition.org/get-involved" target="_blank">Pacifica (Pacifica Beach Coalition)</a></li>
<li><a href="http://www.flowstobay.org/cs_coastal_cleanup_day.php" target="_blank">San Mateo County Cleanup Sites</a></li>
<li>Clean Up En Route<strong>&mdash;</strong>Pick up trash and debris while heading to your site.</li>
</ul>
<p><strong>2. Complete the Waiver Form and bring it with you to the cleanup</strong> <a name="Waivers"></a>&nbsp;<br /><strong></strong></p>
<ul>
<li>Volunteer Waivers will be available soon.</li>
</ul>
<p><strong>3. Arrive at the Cleanup Site on Saturday 9/21 at 9 am with&hellip;</strong> Good energy, completed waiver form, proper clothing<strong>&mdash;</strong>i.e. closed-toe shoes (no sandals), sunscreen, hat, and layers. And remember to <strong>BYO</strong> (Bring Your Own&mdash;reusable supplies)!</p>
<hr />
<p><strong>SAN FRANCISCO&mdash;EAST</strong> <a name="East"></a>&nbsp;<br />More information on the San Francisco East cleanup sites coming soon. <strong></strong></p>
<ul></ul>
<p><strong>SAN FRANCISCO&mdash;WEST</strong><a name="West"></a>&nbsp;<br /><strong>Contact:</strong> Golden Gate National Parks (415) 561-3077 or <a href="mailto:volunteer@parksconservancy.org">e-mail</a>.<br /><strong><br />Cleanup Sites:</strong> <a href="http://maps.google.com/maps/ms?msid=203285277320039340250.0004a9384125aa305e204&amp;msa=0&amp;ll=37.763658,-122.455845&amp;spn=0.105308,0.173378" target="_blank">View Map</a></p>
<ul>
<li><strong>Aquatic Park/Fisherman&rsquo;s Wharf&mdash;</strong><a href="http://ggnpc.convio.net/site/Calendar?id=109502&amp;view=Detail">Register &gt;&gt;</a>&nbsp; <strong>(Need more help here!)</strong> <br />Site Captain: Aquarium of the Bay, SF Maritime NHP</li>
<li><strong>Crissy Field/Presidio</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109526&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: National Park Service, Parks Conservancy, Presidio Trust</li>
<li><strong>China Beach</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109541&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: National Park Service<strong> </strong></li>
<li><strong>Baker Beach</strong>&mdash;<strong>FULL</strong><br />Site Captain: Boy Scout Troop 484, National Park Service</li>
<li><strong>Lands End</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109521&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: Parks Conservancy<strong>&nbsp;</strong></li>
<li><strong>Ocean Beach/Fulton</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109527&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: CA Coastal Commission, Parks Conservancy, NPS</li>
<li><strong>Ocean Beach/Lincoln</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109522&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: Golden Gate Mother&rsquo;s Group, NPS, Parks Conservancy</li>
<li><strong>Ocean Beach/Judah</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109529&amp;view=Detail">Register &gt;&gt;</a> <strong>(Need more help here!)</strong><br />Site Captain: OceanHealth.org, SF Surfrider Foundation</li>
<li><strong>Ocean Beach/Noriega</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109525&amp;view=Detail">Register &gt;&gt;</a> <strong>(Need more help here!)</strong><br />Site Captain: National Park Service, Parks Conservancy</li>
<li><strong>Ocean Beach/Taraval</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109528&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: Hoover Middle School, NPS, Parks Conservancy</li>
<li><strong>Ocean Beach/Sloat</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109524&amp;view=Detail">Register &gt;&gt;</a> <strong>(Need more help here!)</strong><br />Site Captain: NAAAP-SF, NPS, Parks Conservancy</li>
<li><strong>Ocean Beach/Fort Funston</strong>&mdash;<a href="http://ggnpc.convio.net/site/Calendar?id=109523&amp;view=Detail">Register &gt;&gt;</a><br />Site Captain: UC Davis SF Alumni Chapter, NPS, Parks Conservancy<strong></strong></li>
</ul>
<hr />
<h3><strong>ABOUT CALIFORNIA COASTAL CLEANUP DAY&nbsp;&amp; 2012 RESULTS<a name="LearnMore"></a>&nbsp;</strong></h3>
<p><strong></strong>California Coastal Cleanup Day is one of the nation&rsquo;s premier volunteer events dedicated to the marine environment. For more information visit the official website for <a href="http://www.coastal.ca.gov/publiced/ccd/ccd.html" target="_blank">California Coastal Cleanup Day</a>.</p>
<p><strong>COASTAL CLEANUP DAY 2012 RESULTS</strong><br />Last year&nbsp;was another fantastic success, thanks to YOU&mdash;the volunteers! <a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/coastal-cleanup-day-results.pdf" target="_blank"><br />See 2012 Results &gt;&gt;</a></p>
<hr />
<h3><strong>SPONSORS<a name="Sponsors"></a>&nbsp;</strong></h3>
<p><strong>Thank you to our state-wide hosts and sponsors! <br /></strong>California Coastal Commission, Crystal Geyser, Oracle, and Whole Foods Market.</p>
<p><strong>Special Thanks to Recology </strong>for their continued partnership to help reduce waste and improve our recycling efforts in San Francisco!</p>
<p><strong>Thank you to our local sponsors and site captains! <br /></strong>Bay Model, Golden Gate National Parks Conservancy, Literacy for Environmental Justice, National Park Service, Pacifica Beach Coalition, Port of San Francisco, and The Presidio Trust.<strong></strong></p>
<p>Marin County Board of Supervisors and SF Department of the Environment.<strong><br /><br /></strong>Aim High, Aquarium of the Bay, Baykeeper, Boy Scout Troop 484, City of Dreams, Creek Harbor Association, Fairmont Hotel, Golden Gate Audubon Society, Golden Gate Mother&rsquo;s Group, Green Trust SF, Headlands Institute, Hilton Hotel, Home Depot, Hoover Middle School, Marine Mammal Center, Muir Woods Trading Company, National Association of Asian American Professionals (NAAAP-SF), Oceana High School, OceanHealth.org, Point Bonita YMCA, REI, Schools of the Sacred Heart, SF Department of Public Works/Community Clean Team, SF Maritime National Historical Park, SF Public Utilities Commission, SF Recreation and Park Department, SF Surfrider Foundation, Sea Scavenger Conservancy, Slide Ranch, Sports Basement, UC Davis Alumni Association, UCSF Mission Bay Outdoor Programs.</p>
<hr />
<h3><strong>SITE CAPTAIN RESOURCES (PDF)<a name="Captain"></a>&nbsp; <br /></strong></h3>
<ul>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd-welcome.pdf" target="_blank">Coastal Cleanup Day&mdash;Welcome Sign</a></li>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd-get-started.pdf" target="_blank">Coastal Cleanup Day&mdash;Getting Started</a></li>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd-safety.pdf" target="_blank">Coastal Cleanup Day&mdash;Safety Tips</a></li>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd-recology.pdf" target="_blank">Recology Diverts</a></li>
</ul>
<hr />
<h3><strong>POSTERS (PDF)<a name="Posters"></a>&nbsp; </strong></h3>
<ul>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd_poster1.pdf" target="_blank">Coastal Cleanup Day Poster 1</a></li>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd_poster2.pdf" target="_blank">Coastal Cleanup Day Poster 2</a></li>
<li><a href="http://www.parksconservancy.org/assets/get-involved/pdfs/coastal-cleanup-day/ccd_poster3.pdf" target="_blank">Coastal Cleanup Day Poster 3</a></li>
</ul>
<div id="image-450192440" style="float: left; margin: 5px;">





<a href="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd-poster1.jpg" id="single_image" title=""><img src="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd-poster1_thumb.jpg" /></a>



</div>
<div id="image-450192441" style="float: left; margin: 5px;">





<a href="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd-poster2.jpg" id="single_image" title=""><img src="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd-poster2_thumb.jpg" /></a>



</div>
<div id="image-450192442" style="float: left; margin: 5px;">





<a href="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/coastal-cleanup-day-poster.jpg" id="single_image" title=""><img src="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd-poster3_thumb.jpg" /></a>



</div>
<div style="clear: both;">
<p><a href="http://www.parksconservancy.org/events/volunteer-events/special-events/california-coastal-cleanup.html" title="California Coastal Cleanup Day">Back to Top</a></p>
</div>
<div id="fb-root">
<script src="http://connect.facebook.net/en_US/all.js#appId=160034577402417&amp;xfbml=1"></script>

<link href="http://www.parksconservancy.org/assets/events/volunteer-events/desktop/ccd_thumb.jpg" rel="image_src" />
</div>
</div>
<!-- End Event Detail --></div>
</div>

<div id="rightcolumn">
<div id="sidebar-map"><%- body -%></div>
<div class="subRightWrapper clrfix"><!-- Calendar widget -->
<div id="item-66184042" style="display: inline;">







<link rel='stylesheet' type='text/css' href="https://secure3.convio.net/ggnpc/site/SPageServer?pagename=calendar_css&pgwrap=n" />
<!-- Dependencies -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<!-- Source file -->
<script type="text/javascript" src="http://yui.yahooapis.com/2.7.0/build/calendar/calendar-min.js"></script>
<div id="calendar_picker"><!-- Calendar will be populated here --></div>


















<form class="eventSearch" method="get" action="http://www.parksconservancy.org/events/event-search.jsp?dateType=start_date&startDate=&endDate=">
  <input type="hidden" name="folderID" value="315795027">
    <input type="hidden" name="includeSubfolders" value="false">






    <div class="subheader3">Search  Events</div>


    <input name="query" type="text" class="searchField" onfocus="if(this.value=='Keyword') this.value='';" value="" />
  <input class="go" type="image" src="/assets/images/wrapper/btn_go_red.gif" value="Submit" alt="Go" />
    </form>



   <form class="eventSearch" method="get" action="http://www.parksconservancy.org/events/">
    <select name="audience" >
      <option value="">Audience:</option>




      <option value="adults">Adults</option>




      <option value="board-members">Board Members</option>




      <option value="donors">Donors</option>




      <option value="educators">Educators</option>




      <option value="elementary-school-students">Elementary School Students</option>




      <option value="families">Families</option>




      <option value="groups">Groups</option>




      <option value="high-school-students">High School Students</option>




      <option value="job-applicants">Job Applicants</option>




      <option value="members">Members</option>




      <option value="middle-school-students">Middle School Students</option>




      <option value="preschool-students">Preschool Students</option>




      <option value="press">Press</option>




      <option value="public">Public</option>




      <option value="seniors">Seniors</option>




      <option value="staff">Staff</option>




      <option value="volunteers">Volunteers</option>




      <option value="william-kent-society-members">William Kent Society Members</option>


    </select>


    <select name="park_location">
      <option value="">Location:</option>




      <option value="alcatraz">Alcatraz</option>




      <option value="baker-beach">Baker Beach</option>




      <option value="bolinas-lagoon">Bolinas Lagoon</option>




      <option value="bolinas-ridge">Bolinas Ridge</option>




      <option value="china-beach">China Beach</option>




      <option value="cliff-house">Cliff House</option>




      <option value="crissy-field">Crissy Field</option>




      <option value="crissy-field-center">Crissy Field Center</option>




      <option value="dias-ridge">Dias Ridge</option>




      <option value="fort-baker">Fort Baker</option>




      <option value="fort-cronkhite">Fort Cronkhite</option>




      <option value="fort-funston">Fort Funston</option>




      <option value="fort-mason">Fort Mason</option>




      <option value="fort-point">Fort Point</option>




      <option value="gerbode-valley">Gerbode Valley</option>




      <option value="golden-gate-bridge">Golden Gate Bridge</option>




      <option value="hawk-hill">Hawk Hill</option>




      <option value="igg-private">Institute at the Golden Gate, Private Event</option>




      <option value="igg-public">Institute at the Golden Gate, Public Event</option>




      <option value="kirby-cove">Kirby Cove</option>




      <option value="lands-end">Lands End</option>




      <option value="marin-county">Marin County</option>




      <option value="marin-headlands">Marin Headlands</option>




      <option value="martinelli-ranch">Martinelli Ranch</option>




      <option value="milagra-ridge">Milagra Ridge</option>




      <option value="mori-point">Mori Point</option>




      <option value="mount-tamalpais">Mount Tamalpais</option>




      <option value="muir-beach">Muir Beach</option>




      <option value="muir-woods-national-monument">Muir Woods National Monument</option>




      <option value="oakwood-valley">Oakwood Valley</option>




      <option value="ocean-beach">Ocean Beach</option>




      <option value="olema-valley">Olema Valley</option>




      <option value="phleger-estate">Phleger Estate</option>




      <option value="point-bonita">Point Bonita</option>




      <option value="point-reyes-national-seashore">Point Reyes National Seashore</option>




      <option value="presidio-of-san-francisco">Presidio of San Francisco</option>




      <option value="rancho-corral-de-tierra">Rancho Corral de Tierra</option>




      <option value="rocky-point">Rocky Point</option>




      <option value="rodeo-beach">Rodeo Beach</option>




      <option value="rodeo-lagoonvalley">Rodeo Lagoon/Valley</option>




      <option value="san-francisco">San Francisco</option>




      <option value="san-mateo-county">San Mateo County</option>




      <option value="stinson-beach">Stinson Beach</option>




      <option value="sutro-historic-district">Sutro Historic District</option>




      <option value="sweeney-ridge">Sweeney Ridge</option>




      <option value="tennessee-valley">Tennessee Valley</option>




      <option value="tomales-bay-and-points-north">Tomales Bay and Points North</option>


    </select>



    <select name="event_type">
      <option value="">Event Type:</option>




      <option value="40th-anniversary">40th Anniversary</option>




      <option value="after-school">After School</option>




      <option value="birdswildlife">Birds/Wildlife</option>




      <option value="book-readingsigning">Book Reading/Signing</option>




      <option value="class-workshop">Class/Workshop</option>




      <option value="en-espanol">en Espanol</option>




      <option value="environment-science">Environment/Science</option>




      <option value="exhibit-installation">Exhibit/Installation</option>




      <option value="film-art-media">Film/Art/Media</option>




      <option value="food">Food</option>




      <option value="fundraising">Fundraising</option>




      <option value="golden-gate-bridge">Golden Gate Bridge</option>




      <option value="history">History</option>




      <option value="member-event">Member Event</option>




      <option value="music">Music</option>




      <option value="park-academy">Park Academy</option>




      <option value="partner-event">Partner Event</option>




      <option value="raptor-observatory">Raptor Observatory</option>




      <option value="school-field-trip">School Field Trip</option>




      <option value="seasonal-holiday">Seasonal/Holiday</option>




      <option value="self-guided">Self-Guided</option>




      <option value="summer-camp">Summer Camp</option>




      <option value="toddler-playtime">Toddler Playtime</option>




      <option value="tours-walk">Tours/Walk/Recreation</option>




      <option value="volunteer">Volunteer</option>




      <option value="youth-leadership">Youth Leadership</option>



    </select>


  <!--  <input type="checkbox" name="free" value="yes" />Free<br /> -->
    <input class="go" type="image" src="/assets/images/wrapper/btn_go_red.gif" value="Submit" alt="Go"  />
  </form>
  <div id='rssBox'> <a href="http://www.parksconservancy.org/system/rss/channel.jsp?subsiteID=33286129&feed=feed-123748173"><img id='rssicon' alt='rss' src='http://www.parksconservancy.org/assets/images/wrapper/rss.png' /> RSS</a> </div>
  <script type="text/javascript">
    YAHOO.util.Event.onDOMReady(function() {
        // initialize the calendar
        var selectedDate = pageDate = "";
        var aSelectedParts = [];
        var sQS = location.search.replace("?","");
        var aParams = sQS.split("&");

        for (i=0;i<aParams.length;i++) {
            sKey=aParams[i].split("=")[0];
            sValue=aParams[i].split("=")[1];
            switch (sKey) {
                case "startDate":
                    sValue = unescape(sValue);
                    selectedDate = sValue;
                    aSelectedParts = sValue.split("/");
                    pageDate = aSelectedParts[0] + "/" + aSelectedParts[2];
                    break;
            }
        }
        if (selectedDate != "") {
            var calendarPicker = new YAHOO.widget.Calendar("calendar_picker", {pageDate: pageDate, selected: selectedDate});
        } else {
            var calendarPicker = new YAHOO.widget.Calendar("calendar_picker");
        }
        calendarPicker.render();

        calendarPicker.selectEvent.subscribe(function(type, args, obj) {
                // get the date picker date the user selected
                var selectedDate = args[0][0];
                getEventsAJAX(selectedDate);
        });
    });

    function getEventsAJAX(selectedDate) {
            var sUrl = "http://www.parksconservancy.org/events/?dateType=start_date&startDate="+selectedDate[1]+'/'+selectedDate[2]+'/'+ selectedDate[0]+'&endDate=';
            if ('' != '') { sUrl += '&park_location=' ;}
            else { sUrl += '&park_location='; }
            if ('' != '') {sUrl += '&audience='; }
            else { sUrl += '&audience='; }
            if ('' != '') { sUrl += '&program='; }
            sUrl += '&event_type=';
            var postData = "";
            window.location = sUrl;
}
</script>


</div>
</div>
<div id="convio-content-306260274" style="display: inline;">









<div><a class="button" href="http://www.parksconservancy.org/join">Donate</a>
<hr />
<div id="sidebar-newsletter" class="clrfix">
<h3>Get Our Newsletter</h3>
<form action="http://ggnpc.convio.net/site/Survey" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UNKNOWN"><input id="cons_email" title="Email address" name="cons_email" type="text" value=" e-mail address" size="15" maxlength="255" onfocus="if(this.value==' e-mail address')this.value='';" onblur="if(this.value=='')this.value=' e-mail address';" /><input id="ACTION_SUBMIT_SURVEY_RESPONSE" title="Submit" name="ACTION_SUBMIT_SURVEY_RESPONSE" type="submit" value="&gt;&gt;" /> <input id="cons_mail_opt_in" name="cons_mail_opt_in" type="hidden" value="t" /> <input id="cons_email_opt_in" name="cons_email_opt_in" type="hidden" /> <input id="cons_email_opt_in_requested" name="cons_email_opt_in_requested" type="hidden" value="true" /> <input id="s_rememberMe" name="s_rememberMe" type="hidden" /> <span style="display: none;"><label for="denySubmit">Spam Control Text:</label><input id="denySubmit" name="denySubmit" type="text" />Please leave this field empty</span> <input id="SURVEY_ID" name="SURVEY_ID" type="hidden" value="6860" /> <input id="cons_info_component" name="cons_info_component" type="hidden" value="t" /> </form></div>
<hr />
<a class="button" href="http://www.parksconservancy.org/get-involved/volunteer/" target="_self">Volunteer</a></div>


</div>
</div>


</div>














<script type="text/javascript" src="/system/components/logging/logging.js"></script>




<script type="text/javascript">
if (typeof CONVIO=="undefined" || ! CONVIO) { var CONVIO = {}; }

if (! CONVIO.page) { CONVIO.page = {}; }

CONVIO.page.folderID = '315797889';
CONVIO.page.hostID = '33286127';
CONVIO.page.adminURL = 'https://cmsadmin30.convio.net';


CONVIO.page.navFolderID = '315795027';
CONVIO.page.navFolderTitle = '8.0 Calendar';



CONVIO.page.draftID = '310105258';
CONVIO.page.hasForm = false;



CONVIO.page.typeID = '44041279';
CONVIO.page.typeLabel = 'Event';



CONVIO.page.hasEditorStep = true;


if (! CONVIO.user) { CONVIO.user = {}; }
CONVIO.user.isAnonymous = true;
</script>



<script type="text/javascript" src="https://cmsadmin30.convio.net/system/auth/author-toolbar.jsp"></script>


<script type="text/javascript" src="/components/floatbar/floatbar.js"></script>







        </div>

    </div>
    <!--footer-->
    <div id="footer" class="clrfix">
        <div id="convio-content-415207596" style="display: inline;">









<div class="column first_column">
<h4><a href="http://www.parksconservancy.org/" target="_self">HOME</a></h4>
<ul>
<li>Programs
<ul>
<li><a href="http://www.parksconservancy.org/programs/crissy-field-center/" target="_self">Crissy Field Center</a></li>
<li><a href="http://www.parksconservancy.org/programs/ggro/" target="_self">Golden Gate Raptor Observatory</a></li>
<li><a href="http://www.parksconservancy.org/programs/igg/" target="_self">Institute at the Golden Gate</a></li>
<li><a href="http://www.parksconservancy.org/programs/nurseries/" target="_self">Native Plant Nurseries</a></li>
<li><a href="http://www.parksconservancy.org/programs/park-stewardship/" target="_self">Park Stewardship</a></li>
<li><a href="http://www.parksconservancy.org/programs/trails-forever/" target="_self">Trails Forever</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/about/privacy.html" target="_self">Privacy Policy</a></li>
<li><a href="http://translate.google.com">Translate</a></li>
</ul>
</div>
<div class="column">
<h4><a href="http://www.parksconservancy.org/about/" target="_self">ABOUT</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/about/mission.html" target="_self">Mission/Vision</a></li>
<li><a href="http://www.parksconservancy.org/about/history.html" target="_self">History</a></li>
<li><a href="http://www.parksconservancy.org/about/accomplishments.html" target="_self">Accomplishments</a></li>
<li><a href="http://www.parksconservancy.org/about/press/" target="_self">Press Room</a></li>
<ul>
<li><a href="http://www.parksconservancy.org/about/press/photo-gallery-for-press.html" target="_self">Photo Gallery for Press</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-coverage.html" target="_self">Press Coverage</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-kits.html" target="_self">Press Kits</a></li>
<li><a href="http://www.parksconservancy.org/about/press/press-releases.html" target="_self">Press Releases</a></li>
</ul>
<li><a href="http://www.parksconservancy.org/about/publications/" target="_self">Publications </a>
<ul>
<li><a href="http://www.parksconservancy.org/about/publications/annual-reports.html" target="_self">Annual Reports</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/newsletters.html" target="_self">Newsletters</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/multimedia/" target="_self">Multimedia</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/wallpapers.html" target="_self">Wallpapers &amp; Facebook Covers</a></li>
<li><a href="http://www.parksconservancy.org/about/publications/financials.html" target="_self">Financials</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/about/board/" target="_self">Board of Trustees</a></li>
<li><a href="http://www.parksconservancy.org/about/partners.html" target="_self">Partners</a></li>
<li><a href="http://www.parksconservancy.org/about/jobs/" target="_self">Jobs &amp; Opportunities</a></li>
<li><a href="http://www.parksconservancy.org/about/contact.html" target="_self">Contact</a></li>
</ul>
</div>
<div class="column">
<h4><a href="http://www.parksconservancy.org/visit/">YOUR VISIT</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/visit/upcoming-events.html" target="_self">Upcoming Events</a></li>
<li><a href="http://www.parksconservancy.org/visit/park-sites/" target="_self">Select a Park</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/" target="_self">Tours</a></li>
<ul>
<li><a href="http://www.parksconservancy.org/visit/tours/alcatraz.html" target="_self">Alcatraz Tours</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/golden-gate-bridge.html" target="_self">Golden Gate Bridge Tours</a></li>
<li><a href="http://www.parksconservancy.org/visit/tours/muir-woods-bus-tours.html" target="_self">Muir Woods Bus Tours</a></li>
</ul>
<li><a href="http://www.parksconservancy.org/visit/web-cams.html" target="_self">Park Web Cams</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/" target="_self">Trails </a>
<ul>
<li><a href="http://www.parksconservancy.org/visit/trails/bike-friendly.html" target="_self">Bike Friendly Trails</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/dog-friendly-trails.html" target="_self">Dog Friendly Trails</a></li>
<li><a href="http://www.parksconservancy.org/visit/trails/closures.html" target="_self">Trail Closures</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/visit/art-in-the-parks.html" target="_self">Art in the Parks</a></li>
<li><a href="http://www.parksconservancy.org/visit/camp/" target="_self">Camping</a></li>
<li><a href="http://www.parksconservancy.org/visit/transportation/" target="_self">Transportation</a>
<ul>
<li><a href="http://www.parksconservancy.org/visit/transportation/closures.html" target="_self">Transit &amp; Road Closures</a></li>
<li><a href="http://www.parksconservancy.org/visit/transportation/shuttle-services.html" target="_self">Shuttle Services</a></li>
</ul>
</li>
</ul>
</div>
<div class="column">
<h4><a href="http://www.parksconservancy.org/park-improvements/" target="_self">PARK IMPROVEMENTS</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/" target="_self">Current Projects</a>
<ul>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/marin/" target="_self">Marin County</a></li>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/san-francisco/" target="_self">San Francisco County</a></li>
<li><a href="http://www.parksconservancy.org/park-improvements/current-projects/san-mateo/" target="_self">San Mateo County</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/park-improvements/past-accomplishments/" target="_self">Past Accomplishments</a></li>
</ul>
<h4 class="doubleup"><a href="http://www.parksconservancy.org/conservation/" target="_self">CONSERVATION</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/" target="_self">Plants &amp; Animals</a>
<ul>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/endangered-species/" target="_self">Endangered Species</a></li>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/raptors/" target="_self">Raptors</a></li>
<li><a href="http://www.parksconservancy.org/conservation/plants-animals/native-plant-information/" target="_self">Native Plant Information</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/" target="_self">Sustainability in Parks</a></li>
<ul>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/parks-and-health.html" target="_self">Parks &amp; Health</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/food-for-the-parks.html" target="_self">Food for the Parks</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/crissy-field-center.html" target="_self">Crissy Field Center Facility</a></li>
<li><a href="http://www.parksconservancy.org/conservation/sustainability/climate.html" target="_self">Climate Change Education &amp; Parks</a></li>
</ul>
</ul>
</div>
<div class="column">
<h4><a href="http://www.parksconservancy.org/learn/" target="_self">LEARN IN THE PARKS</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/learn/youth/" target="_self">Youth</a>
<ul>
<li><a href="http://www.parksconservancy.org/learn/youth/community-programs/" target="_self">Community Group Programs</a></li>
<li><a href="http://www.parksconservancy.org/learn/youth/leadership/" target="_self">Leadership Programs</a></li>
<li><a href="http://www.parksconservancy.org/learn/youth/summer-camps/" target="_self">Summer Camps</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/learn/educators/" target="_self">Educators</a>
<ul>
<li><a href="http://www.parksconservancy.org/learn/educators/camping-at-the-presidio/" target="_self">Camping at the Presidio</a></li>
<li><a href="http://www.parksconservancy.org/learn/educators/field-trips/" target="_self">Field Trips</a></li>
<li><a href="http://www.parksconservancy.org/learn/educators/professional-development/" target="_self">Professional Development</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/learn/interpretive-walks/" target="_self">Interpretative Walks</a></li>
<li><a href="http://www.parksconservancy.org/learn/park-academy/" target="_self">Park Academy Classes</a></li>
<li><a href="http://www.parksconservancy.org/learn/roving-ranger/" target="_self">Roving Ranger</a></li>
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/" target="_self">Parks Culture &amp; History</a> </li>
<ul>
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/historical-sites.html" target="_self">Historical Sites</a></li>
<li><a href="http://www.parksconservancy.org/learn/culture-and-history/museums.html" target="_self">Museums&nbsp;&amp; Cultural Resources</a></li>
</ul>
</ul>
</div>
<div class="column">
<h4><a href="http://www.parksconservancy.org/get-involved/" target="_self">GET INVOLVED</a></h4>
<ul>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/" target="_self">Volunteer</a>
<ul>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/upcoming-events/" target="_self">Upcoming Opportunities &amp; Events</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/drop-in-programs/" target="_self">Individuals</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/groups/" target="_self">Groups</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/youth-and-families/" target="_self">Youth &amp; Family Opportunities</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/volunteer/internships/" target="_self">Internships &amp; Long-Term Opportunities</a></li>
</ul>
</li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/" target="_self">Donate</a>
<ul>
<li><a href="http://www.parksconservancy.org/join" target="_self">Give Now</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/membership/" target="_self">Membership</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/membership/william-kent-society.html" target="_self">William Kent Society</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/trails-forever-dinner.html" target="_self">Trails Forever Dinner</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/other-ways-to-give/" target="_self">Other Ways to Give</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/corporate-partners/" target="_self">Corporate Partners</a></li>
<li><a href="http://www.parksconservancy.org/get-involved/donate/events.html" target="_self">Member Events</a></li>
</ul>
</li>
</ul>
</div>
<div class="clrfix">
<div id="cpap" class="clrfix"><a href="http://www.nps.gov/goga"><img src="http://www.parksconservancy.org/assets/images/cpap-goga.jpg" alt="Golden Gate National Recreation Area" height="53" /></a>&nbsp; <a href="http://www.presidio.gov"><img src="http://www.parksconservancy.org/assets/images/cpap-presidio.jpg" alt="The Presidio" height="53" /></a><br />
<p>The Conservancy's Public Agency Partners</p>
</div>
</div>



</div>
    </div>
    <div id="footer2" class="clrfix">
        <div id="poweredBy" style="display: inline; float: left; margin-right: 10px; width: 88px;">





<!-- BEGIN: Powered By -->
<style type="text/css">
#cv-poweredBy {
  text-align: center;
}

#cv-poweredBy a {
  color: #ccc;
  font-family: arial,sans-serif;
  font-size: 9px;
  text-decoration: none;
}
</style>

<div id="cv-poweredBy">
  <a href="http://www.convio.com" title="online fundraising, advocacy &amp; donor database">
    <img src="/assets/poweredby.gif" border="0" alt="Powered by Convio" /><br />
    nonprofit software</a>
</div>
<!-- END: Powered By -->
</div>
        <div id="charity-navigator">
            <a href="http://www.charitynavigator.org/index.cfm?bay=search.summary&orgid=3760"><img
            id="footer_r3_c2" border="0" alt="" src="http://ggnpc.convio.net/wrpr/footer_r3_c2-2.gif"
            name="footer_r3_c2"></a>
        </div>
    </div>
</div>

<!-- link wormhole in progress -->
<% include ./../partials/link-shifter.ejs %>

<script type="text/javascript" src="http://www.parksconservancy.org/assets/js/fancybox/onload.js"></script>

<!--Highlight current menu link-->
<script type="text/javascript">
;(function($){
 $("a[href='"+location.href+"']").addClass("current");
})(jQuery);
</script>

</body>
</html><!-- Powered by Convio -->
<!-- 10.12.0.42:8900 -->

