/*
@font-face {
    font-family: Symbola;
    src: url('Symbola.otf');
    src:url('Symbola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.map-icon{
    font-family: Symbola;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.map-icon-test:before {
    content: "\e&#x2100";
}
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body{
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#sidebar-map{
    position: relative;
    height: 400px !important;
}
#content {
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
    text-align: left;
    overflow: hidden;
}

body.map #leftcolumn{
    width: 100%;
}

#ggnpc-map{
    position: relative;
}

body.map #ggnpc-map{
    height: 100%;
}

#sidebar-map #ggnpc-map{
    position: relative;
    height: 100%;
    width: 100%;
}

.ggnpc-map-content{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.ggnpc-map-panels{
    z-index: 3;
}

.ggnpc-map-legend{
    display: none;
    position: absolute;
    bottom: 5px;
    left: 75px;
    z-index: 4;

}
.ggnpc-map-legend.show{
    display: block;
}

.map-legend-wrapper{
    position: relative;
}

#ggnpc-map .map-legend-toggle{
    background: #000;
    padding: 6px 12px;
    width: 75px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    border-radius: 4px;
}

.map-legend-info{
    position: absolute;
    background: url('mapkey.png') no-repeat 0 0;
    width: 464px;
    height: 238px;
    bottom: 30px;
    left: -70px;
    display: none;
}

.map-legend-wrapper.active .map-legend-info{
    display: block;
}

#ggnpc-map .map-legend-wrapper.active .map-legend-toggle{
    background: #FF9999;
}

.little-map-link{
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    /* bg orange btn
    background: #f63;
    color: #fff;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 25px;
    right: 5px;
    */
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
body.map #ggnpc-link-big-map{
    display: none;
}

.map-lists{
    float: left;
    display: block;
    position: relative;
    background: #fff;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 235px;
    height: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    padding: 5px;
}
.map-lists.no-location-found{
    border-color: #ff0099;
}

.map-lists .map-lists-wrapper{
    position: relative;
    width: 100%;
    height: 420px;
}
.map-lists a{
    display: block;
    margin: 0;
    overflow: hidden;
    color: #333;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.map-lists a:first-child{
    font-weight: 600;
}
.map-lists .map-lists-wrapper > div{
    position: relative;
    width: 100%;
    height: 420px;
}

#loading{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.4);
    font-size: 24px;
    font-weight: 600;
    color: #333;
    z-index: 99999;
}

.hide { display: none; }
.forceShow { display: block !important; }

.pagination{
    clear: both;
}
.pagination ul{
    list-style: none;
}
.pagination li{
    float: left;
    padding: 5px;
    opacity: 1;
    text-decoration: none;
}
.pagination li:hover{
    text-decoration: underline;
}
.pagination li.disabled{
    pointer-events:none;
    opacity: .3;
}
.pagination li.active{
    pointer-events:none;
    opacity: 1;
    text-decoration: underline;
}