#sidebar-map{
    position: relative;
    height: 400px !important;
}

body.map #leftcolumn{
    width: 100%;
}

body.map #ggnpc-map{
    height: 500px;
}

#sidebar-map #ggnpc-map{
    position: relative;
    height: 100%;
    width: 100%;
}

#ggnpc-link-big-map{
    position: relative;
    display: block;
    margin-top: 10px;
    font-size: 14px;
    /* bg orange btn
    background: #f63;
    color: #fff;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 25px;
    right: 5px;
    */
}

body.map #ggnpc-link-big-map{
    display: none;
}

.map-lists{
    float: left;
    position: relative;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: auto;
    overflow-x: hidden;
    border: 1px solid #999;
    padding: 5px;
}
.map-lists .map-lists-wrapper{
    position: relative;
    width: 100%;
    height: 200px;
}
.map-lists p{
    margin: 0;
    overflow: hidden;
    color: #333;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.map-lists p:first-child{
    font-weight: 600;
}
.map-lists .map-lists-wrapper > div{
    position: relative;
    width: 100%;
    height: 200px;
}

.hide { display: none; }