<!DOCTYPE html>
<html lang="en" ng-app="app" >
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <title>Big Map</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/ggnpc-map.css">


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="js/vendor/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/vendor/underscore.js" charset="utf-8"></script>
    <script src="js/vendor/geojson.js" charset="utf-8"></script>

    <script src="js/ggnpc-utils.js"></script>
    <script src="js/ggnpc-map.js"></script>
</head>
<body ng-controller="AppController">
    <!-- prefix id's and classes w/ 'ggnpc' -->
    <div id="ggnpc-content">
        <div id="loading" ng-show="loadingData">
            <span>Loading</span>
        </div>

        <div id="ggnpc-demo">
            <div ng-controller="ddController">

                <select class="form-control" ng-model="ddSelection" ng-options="i.title for i in ddOptions" ng-change="change()"></select>

            </div>
        </div>

        <div id="ggnpc-results" class="panel">

            <h3>Filter by kind</h3>

            <div class="checkbox" ng-repeat="result in kindsList" ng-class="{'active': result.selected }" ng-click="result.selected = !result.selected; filterMarkers($event, result);" data-kind="{{result.key}}">
              <label>
                <input type="checkbox" value="" checked>
                {{result.key}}  ( {{result.values.length}} )
              </label>
            </div>


            <h3>Park Items</h3>
            <div id="currentDataList">
                <div class="list-group">
                  <a href="#" class="list-group-item" ng-show="!filterStates[result.kind]" ng-repeat="result in currentData.children.results | orderBy: '+kind'" ng-click="showMarker($event, result.attributes.id);">
                    {{result.kind}} : {{result.attributes.title}}
                  </a>
                </div>
            </div>
        </div>

        <div id="ggnpc-map" ng-controller="mapController"></div>
    </div>

    <script src="js/app.js"></script>
   <!-- <script src="js/Controllers/appController.js"></script> -->

    <script>
        var map;
        function initialize(){
            if(GGNPC){
               // map = GGNPC.maps.base({root: 'ggnpc-map'});
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</body>
</html>


