#trip-planner {
  width: 960px;
  margin: 0 auto;
}

/* Google map pin icons */
.trip-planner .inputs img.point {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

/* bootstrap-like layout rows */
.trip-planner .row {
  display: table;
  width: 100%;
}

/* layout columns */
.trip-planner .column {
  display: table-cell;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* standard column sizes */
.trip-planner .column.half { width: 50%; }
.trip-planner .column.one-third { width: 40%; }
.trip-planner .column.two-thirds { width: 60%; }

.trip-planner .map {
  width: 100%;
  height: 350px;
}

.trip-planner .column.destination {
  border-left: 2px solid #fff;
}

.trip-planner input.origin {
  width: 20em;
  max-width: 90%;
}

.trip-planner .nearby-panel {
  padding-left: 20px;
  visibility: hidden;
}

.routed .trip-planner .nearby-panel {
  visibility: visible;
}

.trip-planner .nearby-locations .location {
  display: table-row;
  color: #707070;
  width: 100%;
  clear: left;
  margin: 0 0 5px 0;
}

.trip-planner .nearby-locations .location > span {
  display: table-cell;
  width: 50%;
}

.trip-planner .nearby-locations .location > .icon {
  display: inline-block;
  width: 26px;
  height: 25px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

.location.trailhead > .icon { background-image: url(images/icon-trailhead.png); }
.location.visitor_center > .icon { background-image: url(images/icon-visitor_center.png); }
.location.restroom > .icon { background-image: url(images/icon-restroom.png); }
.location.cafe > .icon { background-image: url(images/icon-cafe.png); }

.trip-planner .nearby-locations .location > .title {
  width: 80%;
}

.trip-planner .nearby-locations .location > .title a {
  text-decoration: none;
  color: inherit;
}

.trip-planner .nearby-locations .location > .distance {
  text-align: right;
  width: 20%;
}
