.trails {
  font-size: 14px;
}

#trails-list .trails {
  margin-right: -235px;
}

.trails h2 {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.trails .trail {
  border-top: 1px solid #999;
  padding: 20px 0;
  clear: both;
}

.trails .row {
  clear: both;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.trails .row:after {
  display: table;
  height: 0;
  clear: both;
  content: " ";
}

.trails .column {
  float: left;
  width: 50%;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.trails .column.left {
  padding-right: 10px;
}

.trails .trail .title .text {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  line-height: 1em;
  margin: 0;
}

.trails .trail .duration {
  color: #666;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  margin-left: 1em;
}

.trails .trail .details {
  margin: 0 0 10px 0;
}

.trails .trail .details span {
  color: #666;
  font-weight: 200;
}

.trails .trail .details .intensity {
  color: #000;
}

.trails .trail .distance:after,
.trails .trail .elevation:after {
  display: inline-block;
  width: 20px;
  text-align: center;
  content: "•";
}

.trails .trail .elevation:before {
  display: inline-block;
  width: 20px;
  text-align: center;
  content: "⇅";
  color: #000;
  font-weight: bold;
}

.trails .trail .image {
}

.trails .trail .image img,
.trails .trail .image svg {
  display: block;
  width: 100%;
  height: auto;
}

.trails .trail .image svg {
  height: 0;
}

.trails .trail a.expand {
  display: block;
  text-decoration: none;
}

.trails .trail.expanded .image img {
  display: none;
}

.trails .trail.expanded .image svg {
  height: 100px; /* XXX this is the height of the SVGs @ 375px width */
}

.trails .trail.expanded .map {
  height: 0;
}

.trails .trail.expanded .map {
  margin-top: 20px;
  height: 250px;
}

.trail path.segment {
  stroke-width: 2px;
  stroke-linejoin: round;
}

.trail .axis path,
.trail .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: cripsEdges;
  stroke-linejoin: miter;
}

.trail .axis text {
  fill: #000;
}

.trail svg text {
  font-size: 11px;
}

.trail svg .hilite .bg {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
}

.trail svg .hilite text {
  text-shadow: 0 0 2px #fff;
}
