body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.container {
  width: 960px;
  margin: 20px auto;
}

#header {
  padding: 40px 100px 40px 170px;
  background-image: url(images/ggnpc-logo-2012.png);
  background-position: 40px 40px;
  background-repeat: no-repeat;
}

#header h1,
#header h2 {
  line-height: 1em;
  margin: 0 0 10px 0;
}

#header h1 {
  font-size: 24px;
}

#header h2 {
  font-size: 24px;
  font-weight: normal;
}

#header p {
  line-height: 1.5em;
}

#map {
  height: 600px;
}

.gm-style * {
  font-family: inherit !important;
}

.gm-style .title {
  margin: 0;
}

.gm-style a.directions {
}
