/* convio hacking */
#content{
    width: 100% !important;
}
#main_content{
    position: fixed;
    top: 0;
    left: 0;

}
#logo a img{
    display: none;
}
#top_utility, #main_menu_wrapper{
    display: block;
    visibility:hidden;
}

#top_utility, #main_menu_wrapper{
    opacity:0;
    transition: opacity 0.5s .1s ease;
}

.menu-active #top_utility, .menu-active #main_menu_wrapper{
    visibility:visible;
    opacity: 1;
}

#header #logo {
    float: left;
    height: auto;
    width: auto;
    position: relative;
}
#header #logo a:after{
    content: "+";
    position: absolute;
    background: #000;
    top: 100%;
    right: -20px;
    margin-top: -22px;
    padding: 0;
    height: 20px;
    width: 20px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    border-radius: 10px;
    opacity: 1;
    transition: opacity 0.8s ease;
}

.menu-active #header #logo a:after{
    opacity: 0;
    visibility:hidden;
}

#footer, #footer2{ display: none; }

#footer{
    margin-top: -30px;
    background: #fff;
    padding: 10px;
}

#wide_title{
    display: none !important;
}

#main_content{
    padding: 0 !important;
    margin-top: 0 !important;
}

#logo a{
    background: url('images/ggnpc-logo-2012.png') no-repeat 0 0;
    width: 92px;
    height: 71px;
    display: inline-block;
}

#main_menu,
#top_utility > ul{
    background: #000;
    padding: 0;
}
#main_menu ul.primary a,
#main_menu ul.primary a:visited,
#main_menu a, #top_utility ul.primary > li > a{
    color: #fff;
}



#header, #nav, #footer, #footer2{
    position: relative;
    width: 890px !important;
    margin: 0 auto;
    z-index: 10;
}
#header{
    z-index: 11;
    padding-bottom: 20px;
}

/* end convio hacking */

.big-map {
    position: relative;
    width: 100% !important;
    height: 400px;
    border: none !important;
    margin-bottom: 0 !important;
}

/* popups */
.gm-style * {
    font-family: inherit !important;
}

.gm-style-iw .title, .trips-section > h4 {
    margin: 0;
    color: #000 !important;
}

.gm-style-iw .thumbnail{

}
.gm-style-iw .description{

}

.gm-style-iw .title > a{
    color: #000 !important;
    font-weight: bold;
    display: block;
}
.gm-style-iw .title > a:hover{
    text-decoration: underline;
}
.pull-right{
    float: right;
}

.gm-style-iw a.directions {}

.trips-section, .trips-section *{
    box-sizing: border-box;
}
.trips-section{
    display:none !important;
    margin: 10px 0 0;
}
.trips-section.active{
    display: block !important;
}
.trips-section > h4{
    font-size: 14px;
}
.trips{
    padding-bottom: 5px;
}
.trip{
    padding: 10px 5px;
    background: #fff;
}
.trip.hover{
    background: #ededed !important;
}

.trips .trip .title .text {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
}
.trips .trip .duration {
    color: #666;
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 1em;
}
.trips .trip .details {
    margin: 0 0 10px 0;
}
.trips .trip .details span {
    color: #666;
    font-weight: 200;
}
.trips .trip .details .intensity {
    color: #000;
}
.trips .trip .distance:after, .trips .trip .elevation:after {
    display: inline-block;
    width: 20px;
    text-align: center;
    content: "•";
}
.trips .trip .elevation:before {
    display: inline-block;
    width: 18px;
    text-align: left;
    content: "⇅";
    color: #000;
    font-weight: bold;
}
.trips .trip .links a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}

/* tooltip*/
.gm-style div.ggnpc-tooltip{
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.ggnpc-tooltip p{
    font-size: 14px;
    color: #000;
    margin: 0;
    white-space: nowrap;
}

/* panels */
.panel{
    position: absolute;
    z-index: 9999;
    background: #fff;
    padding: 20px;
}
.panel .title{
    color: #000;
}

.filter-panel{
    top: 10px;
    left: 50px;
}

.list-links{
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-links > li > a{
    display: block;
    padding: 4px 0;
    color: #000;
}
.list-links .active{
    color: #999 !important;
}


/* vector */
