#trip-planner {
  padding: 0 10px;
}

.trip-planner {
  color: #666;
}

.trip-planner a {
  cursor: pointer;
}

.trip-planner b {
  font-weight: bold;
}

/* Google map pin icons */
.trip-planner .inputs img.point {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

/* bootstrap-like layout rows */
.trip-planner .row {
  display: table;
  width: 100%;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* layout columns */
.trip-planner .column {
  display: table-cell;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* standard column sizes */
.trip-planner .column.half { width: 50%; }
.trip-planner .column.one-third { width: 43%; }
.trip-planner .column.two-thirds { width: 57%; }

.trip-planner .section {
  margin-bottom: 20px;
}

.trip-planner h3.title {
  color: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.trip-planner .maps {
  margin: 0 -10px;
}

.trip-planner .hide-default {
  display: none;
}

.trip-planner.routed .hide-default {
  display: block;
}

.trip-planner .map {
  width: 100%;
  height: 350px;
}

.trip-planner .inputs .column:first-child {
  padding-right: 20px;
}

.trip-planner .column.destination {
  border-left: 2px solid #fff;
}

.trip-planner input,
.trip-planner select {
  font-size: 14px !important;
  -webkit-appearance: none;
  padding: 4px 6px;
  color: inherit;
  border-radius: 2px;
  border: 1px solid #cecece;
}

.trip-planner input[type=text] {
  max-width: 90%;
  box-shadow: inset 0 0 2px rgba(0,0,0,.1);
}

.trip-planner select {
  padding-right: 25px;
  background-image: url(images/select-caret.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.trip-planner input.origin {
  width: 16em;
}

.trip-planner .nearby-locations {
  padding-right: 10px;
}

.trip-planner .nearby-locations .location {
  display: table;
  font-size: 11px;
  width: 100%;
  clear: left;
  margin: 0 0 5px 0;
}

.trip-planner .nearby-locations .location > span {
  display: table-cell;
  width: 50%;
}

.trip-planner .nearby-locations .location > .icon {
  display: inline-block;
  width: 26px;
  height: 25px;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  top: 3px;
}

.location.trailhead > .icon { background-image: url(images/icon-trailhead.png); }
.location.visitor_center > .icon { background-image: url(images/icon-visitor_center.png); }
.location.restroom > .icon { background-image: url(images/icon-restroom.png); }
.location.cafe > .icon { background-image: url(images/icon-cafe.png); }

.trip-planner .nearby-locations .location > .title {
  width: 80%;
}

.trip-planner .nearby-locations .location > .title a {
  text-decoration: none;
  color: inherit;
}

.trip-planner .nearby-locations .location > .distance {
  text-align: right;
  width: 20%;
}

.date-picker select {
  margin-right: 1em;
}

.date-picker span.date input {
  width: 10em;
}

.date-picker span.time input {
  width: 6em;
}

.date-picker table.calendar {
  width: 100%;
  position: relative;
  border-collapse: separate;
}

  .date-picker table.calendar td,
  .date-picker table.calendar th,
  .date-picker table.calendar caption {
    padding: 2px 4px !important;
    text-align: center;
  }

  .date-picker table.calendar td.day {
    color: #999;
    text-align: right;
    vertical-align: top;
    border: 1px solid transparent;
  }

  .date-picker table.calendar td.day.current {
    color: #333;
  }

  .date-picker table.calendar td.day.valid {
    cursor: pointer;
  }

  .date-picker table.calendar td.day.invalid {
    color: #ccc;
  }

  .date-picker table.calendar td.day.today {
    border-color: #666;
  }

  .date-picker table.calendar td.day.selected {
    text-decoration: underline;
  }

  .date-picker table.calendar caption {
    position: relative;
    background: #eee;
    padding: 4px !important;
  }

  .date-picker table.calendar caption .offset {
    position: absolute;
    top: 4px;
    padding: 0 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .date-picker table.calendar caption .offset.prev { left: 0; }
  .date-picker table.calendar caption .offset.next { right: 0; }

  .date-picker table.calendar tfoot {
    text-align: center;
  }

  .date-picker table.calendar tfoot button {
  }

.trip-planner .trip-info {
  position: relative;
  padding: 20px 0;
  text-align: center;
       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.trip-planner .links {
  margin-left: 20px;
}

.trip-planner .links a {
  display: inline-block;
  margin: 0 10px;
}

.trip-planner .links a + a {
  border-left: 1px solid #666;
  padding-left: 10px;
  margin-left: 0;
}

.trip-planner span.destination.frozen {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.travel-modes .mode {
  display: inline-block;
  width: 90px;
  height: 90px;
  margin-right: 10px;
  color: #ccc;
  cursor: pointer;
  border: 1px solid transparent;
  background-image: url(images/transport-icons.png);
  background-repeat: no-repeat;
}

.travel-modes .mode span {
  display: none;
}

.travel-modes .mode:hover {
  border-color: #999;
}

.travel-modes .mode.selected {
  color: #000;
  border-color: #f60;
}

.travel-modes .mode.walking             { background-position: -5px -105px; }
.travel-modes .mode.walking:hover,
.travel-modes .mode.walking.selected    { background-position: -5px -5px; }

.travel-modes .mode.transit             { background-position: -105px -105px; }
.travel-modes .mode.transit:hover,
.travel-modes .mode.transit.selected    { background-position: -105px -5px; }

.travel-modes .mode.driving             { background-position: -205px -105px; }
.travel-modes .mode.driving:hover,
.travel-modes .mode.driving.selected    { background-position: -205px -5px; }

.travel-modes .mode.bicycling           { background-position: -305px -105px; }
.travel-modes .mode.bicycling:hover,
.travel-modes .mode.bicycling.selected  { background-position: -305px -5px; }

.text-options {
  position: relative;
  display: inline-block;
  width: auto;
  margin-right: 1em;
}

.text-options input.value {
  width: auto;
}

.text-options .toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;

  background-image: url(images/select-caret.png);
  background-position: left center;
  background-repeat: no-repeat;
}

.text-options .toggle.active {
}

.text-options .content-wrapper {
  position: absolute;
  top: 100%;
  right: 10px;
  z-index: 2000;
}

.text-options .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 15em;
  margin: 4px 0 0 -7.5em;
  min-height: 1em;
  max-height: 15em;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;

       box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.text-options.time .content a.hour {
  display: block;
  padding: 2px 20px 2px 4px;
  color: #666;
}

.text-options.time .content a.hour.current {
  font-weight: bold;
}

/* XXX outreach stuff */
.trip-planner .welcome {
  padding: 10px 0;
  font-size: 18px;
  line-height: 24px;
}

.trip-planner .welcome p {
  margin: 0 0 20px 0;
}

.trip-planner .welcome blockquote {
  color: #000;
  font-weight: bold;
  margin: 0 0 20px 40px;
}

.trip-planner .welcome small {
  font-size: 11px;
}

.trip-planner .welcome img {
  float: right;
  width: 71px;
  height: 95px;
  margin: -10px 0 0 10px;
}

.trip-planner input.submit {
  font-family: inherit !important;
  font-size: 14px;
  font-weight: bold;

  display: inline-block;
  margin: 10px 0;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 14px 30px;
}

.trip-planner.frozen .destination.has-welcome .section {
  display: none;
}

.trip-planner.frozen .destination.has-welcome .welcome {
  display: block;
}

.trip-planner.frozen.has-origin .destination.has-welcome .section {
  display: block;
}

.trip-planner.frozen.has-origin .destination.has-welcome .welcome {
  display: none;
}

.trip-planner .origin-group a.toggle {
  font-size: 11px;
  float: right;
}

.trip-planner.routed input.submit {
  display: none;
}

.trip-planner .dest-info-row .column:last-child {
  padding-left: 20px;
}

.trip-planner .warning {
  background: #000;
  color: #fff;
  padding: 20px;
  text-align: left;
  margin: 0 -10px 20px -10px;
}

.trip-planner .warning h4 {
  color: #ff0;
  text-transform: uppercase;
}

/* Google directions stuff */
.google-directions .adp table {
  color: inherit;
}

.google-directions * {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 16px;
  color: inherit;
}

.google-directions .adp-placemark {
  border: none;
  background: none;
}

.google-directions .adp-placemark td {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  padding: 5px;
  vertical-align: middle;
  color: inherit;
}

.google-directions .adp-placemark img {
  vertical-align: middle;
  margin-right: 5px;
}
