#content{
    width: 100% !important;
}

#header, #nav, #footer, #footer2{
    position: relative;
    width: 890px !important;
    margin: 0 auto;
    z-index: 10;
}

#footer, #footer2{ display: none; }

#footer{
    margin-top: -30px;
    background: #fff;
    padding: 10px;
}

#wide_title{
    display: none !important;
}

#main_content{
    padding: 0 !important;
    margin-top: -140px !important;
}

.big-map {
    position: relative;
    width: 100% !important;
    height: 400px;
    border: none !important;
    margin-bottom: 0 !important;
}


/* popups */
.gm-style * {
    font-family: inherit !important;
}

.gm-style-iw .title {
    margin: 0 0 5px;
    color: #000 !important;
}

.gm-style-iw .thumbnail{

}
.gm-style-iw .description{

}

.gm-style-iw .title > a{
    color: #000 !important;
    font-weight: bold;
    display: block;
}
.gm-style-iw .title > a:hover{
    text-decoration: underline;
}
.pull-right{
    float: right;
}

.gm-style-iw a.directions {}

/* tooltip*/
.gm-style div.ggnpc-tooltip{
    background: #fff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
.ggnpc-tooltip p{
    font-size: 14px;
    color: #000;
    margin: 0;
    white-space: nowrap;
}


.panel{
    position: absolute;
    z-index: 9999;
    background: #fff;
    padding: 20px;
}
.panel .title{
    color: #000;
}

.filter-panel{
    top: 10px;
    left: 50px;
}

.list-links{
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-links > li > a{
    display: block;
    padding: 4px 0;
    color: #000;
}
.active{
    color: #999 !important;
}